.main {
    padding: 40px;
    margin: 0 auto;
    background: #fffbf9;
}
.tab-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 90px;
}

.tab-buttons .tab {
    position: relative;
    background: red;
    border-radius: 4px 0 0px 4px;
    color: #FFF;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}
.tab-buttons .tab span {
    padding: 15px 40px;
    cursor: pointer;
    display: block;
}
.tab-buttons .tab:last-child::after {
    display: none;
}
.tab-buttons .tab:last-child::before {
    display: none;
}

.tab::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: transparent;
    border-top: 5px solid green;
    border-right: 5px solid green;
    transform: rotate(45deg);
    top: 9px;
    left: calc(100% + 20px);
}

.tab::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: transparent;
    border-top: 5px solid green;
    border-right: 5px solid green;
    transform: rotate(45deg);
    top: 9px;
    left: calc(100% + 35px);
}

.tab-buttons .indicator {
    position: absolute;
    left: calc(100% - 16px);
    top: 15%;
    height: 33px;
    width: 33px;
    background: #ff0000;
    transform: rotate(45deg);
    cursor: pointer;
}

.tab-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px 0;
    column-gap: 2%;
}

.tab-container > div {
    padding: 15px;
    width: 33%;
}

.section-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #303030;
    font-weight: 500;
}

.user-input-field {
    padding: 10px;
    border: none;
    box-shadow: 1px 1px 2px 1px #c6c6c6;
    border-radius: 4px;
    height: 300px;
    resize: none;
    width: 100%;
}

#code-lang {
    max-width: 200px;
    width: 100%;
    border: none;
    box-shadow: 1px 1px 2px 1px #c6c6c6;
    border-radius: 4px;
    padding: 10px 15px;
    margin-bottom: 15px;
}

.section-buttons button {
    color: #FFFFFF;
    border-radius: 20px;
    border: 1px solid #3aba32;
    background: #3aba32;
    padding: 10px 30px;
    box-shadow: 1px 1px 2px 0 #3aba32;
    transition: 0.3s all linear;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    cursor: pointer;
}

button:hover {
    box-shadow: 2px 2px 15px 0 #50d647 !important;
    transition: 0.3s all linear !important;
    background-color: #50d647 !important;
    border-color: #50d647 !important;
}