.footer {
    background: #252525;
    color: #f5fffa;
    font-size: 12px;
    padding: 10px 40px;
    text-align: center;
    font-family: "Nunito", sans-serif;
    letter-spacing: 0.05em;
    line-height: 18px;
}
.footer span {
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}