.header {
    background: black;
    color: white;
    font-size: 20px;
    padding: 20px 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    letter-spacing: -0.0012em;
    line-height: 28px;
}
